.top {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  padding-top: 35px;
  padding-bottom: 33px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 360px;
  padding-right: 360px;
}

@media (max-width: 1600px) {
  .wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding-left: 78px;
    padding-right: 78px;
  }
}

@media (max-width: 820px) {
  .wrapper {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 580px) {
  .wrapper {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameBox {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nameText {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.25;
  margin-bottom: 4px;
  color: #2f3740;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 68px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 58%;
}

.addrBox {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.telBox {
  display: flex;
  flex-direction: column;
}

.tel {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2px;
  color: #2e363f;
}

.sub {
  font-size: 14px;
  color: #808890;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .contacts {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .nameText {
    font-size: 24px;
  }

  .tel {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .nameBox {
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }

  .nameText {
    font-size: 22px;
  }

  .tel {
    font-size: 16px;
  }

  .icon {
    width: 34px;
    height: 34px;
  }
}
